@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "animations";

.costumers {
  display: flex;
  &__body {
    margin-top: 41px;
    margin-left: 71px;
  }
  &__box {
    margin-top: 51px;
    background-color: #fff;
    border-radius: 30px;
    width: 91%;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  }
  &__box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 53px 40px 38px;
  }
  &__wrap {
    max-width: 50%;
  }
  &__box-title {
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  &__box-subtitle {
    font-weight: 400;
    color: #16c098;
  }
  &__box-main {
    table {
      width: 100%;
      table-layout: fixed;
    }
    th {
      color: #b5b7c0;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    thead {
      tr {
        margin-right: 0;
        margin-left: 0;
        padding-top: 0;
        padding-bottom: 14px;
        margin: auto;
        display: flex;
      }
    }
    td {
      width: 20%;
      text-overflow: ellipsis;
      overflow: hidden;
      &:nth-child(1) {
        width: 25%;
      }
      &:nth-child(2) {
        width: 18%;
      }
      &:nth-child(3) {
        width: 22%;
      }
      &:nth-child(4) {
        width: 29%;
        overflow: auto;
        margin-right: 14px;
        text-overflow: initial;
        &::-webkit-scrollbar {
          background-color: #ddd;
          border-radius: 8px;
          height: 5px;
          overflow: hidden;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $favorite;
          border-radius: 8px;
        }
      }
      &:nth-child(6) {
        width: 84px;
        text-overflow: initial;
        overflow: visible;
      }
    }
    th {
      &:nth-child(1) {
        width: 21%;
        margin-right: -2px;
      }
      &:nth-child(2) {
        width: 15%;
      }
      &:nth-child(3) {
        width: 18%;
      }
      &:nth-child(4) {
        width: 24%;
        margin-right: 14px;
      }
      &:nth-child(5) {
        width: 17%;
      }
      &:last-child {
        width: 84px;
      }
    }
    tr {
      border-bottom: 1px solid #eee;
      display: table;
      width: 94%;
      margin: 0 auto;
      padding-bottom: 17px;
      padding-top: 21px;
      display: flex;
      align-items: center;
    }
  }
  &__box-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 40px 38px;
  }
  &__box-showing-info {
    color: #b5b7c0;
    max-width: 50%;
  }
}

.switch-btn {
  width: 26px;
  height: 24px;
  font-size: 12px;
  line-height: 12px;
  color: #404b52;
  border-radius: 4px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  margin-right: 11px;
  transition: all 0.2s;
  &:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .5);
    transition: all 0.2s;
    &.prev,
    &.next,
    &.skip {
      box-shadow: none;
    }
  }
  &.active {
    background-color: $favorite;
    color: #fff;
    border: transparent;
  }
  &.skip {
    background-color: transparent;
    border: none;
    width: initial;
    height: initial;
  }
  img {
    margin: 0 auto;
  }
  &:last-child {
    margin-right: 0;
  }
}

.status-detect {
  width: 84px;
  height: 29px;
  border-radius: 4px;
  border: 1px solid transparent;
  position: relative;
  &.active {
    background-color: $active;
    border: 1px solid $activeFont;
    &:after {
      content: "Active";
      position: absolute;
      color: $activeFont;
      padding: 4px 18px;
      width: 100%;
    }
  }
  &.inactive {
    background-color: $inactive;
    border: 1px solid $inactiveFont;
    &:after {
      content: "Inactive";
      position: absolute;
      color: $inactiveFont;
      padding: 4px 13px;
      width: 100%;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  width: 216px;
  background-color: #f9fbff;
  border-radius: 10px;
  &__btn {
    padding-left: 8px;
    padding-bottom: 7px;
    padding-top: 7px;
  }
  &__input {
    border: none;
    padding: 10px 8px;
    font-size: 12px;
    line-height: 18px;
    color: #838383;
    width: 100%;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #b5b7c0;
    }
  }
}

.user-welcome {
  font-size: 24px;
  line-height: 36px;
  display: flex;
  span {
    display: inline-block;
    max-width: 300px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.nav {
  height: 100vh;
  max-height: 100%;
  width: 306px;
  padding-right: 28px;
  background-color: #fff;
  position: relative;
  z-index: 99;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 1);
  .logo {
    padding-left: 28px;
    padding-top: 36px;
  }
  &__list {
    margin-top: 53px;
    margin-left: 28px;
    .Dashboard {
      &::after {
        display: none;
      }
    }
  }
  &__item {
    background-color: transparent;
    width: 250px;
    padding: 11px 8px 11px;
    margin-bottom: 18px;
    border-radius: 8px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/nav-icons/arrow-more.svg);
      width: 16px;
      height: 16px;
      right: 8px;
      top: 50%;
      margin-top: -8px;
      cursor: pointer;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.active {
      background-color: $favorite;
      color: #fff;
      cursor: pointer;
      .nav__link {
        color: #fff;
      }
      path {
        stroke: #fff;
        fill: transparent;
      }
      svg {
        fill: white;
      }
      &::after {
        background-image: url(../images/nav-icons/arrow-more-active.svg);
      }
    }
  }
  &__link {
    color: $lightGray;
    display: flex;
    align-items: center;
    justify-content: left;
    svg {
      margin-right: 14px;
    }
  }
  &__ico-wrap {
    height: 24px;
  }
  &__more-btn {
    display: none;
    position: absolute;
    bottom: 100px;
    left: 20px;
    img {
      width: 40px;
    }
  }
  &__profile {
    display: flex;
    position: absolute;
    bottom: 36px;
    margin-left: 28px;
  }
  &__profile-info {
    margin-left: 12px;
    p {
      max-width: 150px;
    }
    .user-position {
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      color: #757575;
    }
  }
}

.avatar {
  border-radius: 50%;
  width: 42px;
  height: 42px;
}

.logo {
  display: flex;
  img {
    margin-right: 8px;
  }
  span {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    position: relative;
    padding-right: 22px;
    &::after {
      content: "v.01";
      position: absolute;
      padding-left: 4px;
      bottom: 7px;
      font-weight: 500;
      color: #838383;
      font-size: 10px;
      line-height: 15px;
    }
  }
}

@import "media";
